DEFINE YOUR LOCALHOST PORT NUMNER HERE
//PORT = your port number
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=college
SESSION_SECRET=your_secure_session_secret_here
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
RECAPTCHA_SITE_KEY=your_recaptcha_site_key
NODE_ENV=development